{% extends 'principal.html' %}
{% block content %}
<div class="mt-3"><h3>Lista de médicos</h3><hr></div>
     <div class="border border-secondary">
            <table class="table table-striped">
                <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Nombre</th>
                <th>Area</th>
                <th>Correo</th>
                <th class="text-center">Celular</th>
                <th class="text-center">Piso</th>
                <th class="text-center">Consultorio</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              {% for medico in medicos %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td>{{ medico }}</td>
                <td>{{ medico.area }}</td>
                <td>{{ medico.correo }}</td>
                <td class="text-center">{{ medico.celular }}</td>
                <td class="text-center">{{ medico.planta }}</td>
                <td class="text-center">{{ medico.consultorio }}</td>
                <td>{% if medico.estado %}Habilitado{% else %}Deshabilitado{% endif %}</td>
            </tr>  
                {% endfor %}              
            </tbody>
           </table>
        </div>
{% endblock %}  